<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhéroes</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Bienvenido a la página de Superhéroes</h1>
    <ul>
        <% superheroes.forEach(function(superheroe) { %>
            <li><%= superheroe.nombreSuperHeroe %> - <%= superheroe.edad %> años</li>
        <% }); %>
    </ul>
</body>
</html>
